<div class="min-h-screen bg-slate-50 text-white box-border">
  <section
    class="bg-cover bg-[url('assets/images/fashion1.jpg')] pb-36 text-opacity-100 bg-neutral-900"
  >
    <div>
      <div class="pl-7 pt-11">
        <h1 class="text-6xl text-center pt-20">CONTACT US</h1>
      </div>
    </div>
  </section>
  <div class="flex justify-between p-10 pt-24">
    <div class="text-black pl-11">
      <div class="pb-10">
        <h1 class="font-semibold text-4xl">GOT QUESTIONS</h1>
        <p class="pt-3">
          You can Reach out to us using our emails, watsapp number or social
          media handle
        </p>
        <address>
          <br />Our Email:
          <a href="mailto:taekook@gmail.com">taekook@gmail.com</a>
          <br />Phone: <a href="tel: 09023428756">09023428756</a> <br /><i
            class="fab fa-instagram"
          ></i>
          <a href="https://instagram.com/rj_envie?igshid=MzNlNGNkZWQ4Mg=="
            >@rj_envie</a
          >
          &nbsp;&nbsp;<i class="fab fa-twitter cursor-pointer"></i>&nbsp;<a
            href="https://twitter.com/home"
            >Envie</a
          >
          Visit us at:
          <br />Box 564, Banana Island <br />Nigeria
        </address>
      </div>
      <p class="font-semibold text-2xl">Or you can use the form below</p>
      <div class="block pt-9">
        <form>
          <label for="fname">Enter Your Name (Required)</label>
          <input
            type="text"
            id="fname"
            name="firstname"
            placeholder="Your name.."
            required
            class="w-full mb-8 h-12 rounded-md outline-none border-gray-300 block"
          />
          <label for="email">Your Email (Required)</label>
          <input
            type="text"
            id="email"
            name="email"
            placeholder="Enter address.."
            required
            class="w-full h-12 mb-8 rounded-md outline-0 border-0 block"
          />
          <label for="subject">Subject</label>
          <input
            type="text"
            id="subject"
            name="subject"
            placeholder="Enter subject..."
            required
            class="w-full h-12 mb-8 rounded-md outline-0 border-0 block"
          />
          <label for="message">Message</label>
          <textarea
            name="message"
            id="message "
            class="w-full h-32 rounded-lg outline-0 border-0 block mb-8"
            rows="6"
          ></textarea>
        </form>
        <button
          type="submit"
          class="w-28 text-center text-white h-12 bg-black transition-all duration-75 ease-in-out hover:to-blue-800 mt-8 rounded-sm block"
        >
          <a href="https://validator.w3.org/">Send</a>
        </button>
      </div>
    </div>
    <div class="block ml-16">
      <div
        class="bg-white rounded-xl h-80 w-96 shadow-gray-400 shadow-2xl pt-10 pb-10"
      >
        <div class="text-black ml-16 pt-5">
          <h1 class="font-medium text-2xl pb-4">Quick Links</h1>
          <div class="block">
            <a routerLink="/home" class="block">Home</a>
            <a routerLink="/shop" class="block">Shop</a>
            <a routerLink="/lookbook" class="block">Lookbook</a>
            <a routerLink="/about-us" class="block">About Us</a>
            <a routerLink="/contact-us">Contact Us</a>
          </div>
        </div>
      </div>
      <div
        class="bg-white rounded-xl h-80 w-96 shadow-gray-400 shadow-2xl mt-16 pt-10 pb-10"
      >
        <div class="text-black ml-16 pt-5">
          <h1 class="font-medium text-2xl pb-4">Latest</h1>
          <div class="block">
            <a routerLink="/contact-us" class="block">Women’s Short</a>
            <a routerLink="/contact-us" class="block">Bags</a>
            <a routerLink="/contact-us" class="block">Men's Jeans</a>
            <a routerLink="/contact-us" class="block">Women’s Shirt</a>
            <a routerLink="/contact-us">Acessories</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-black dark:text-black">
    <div class="flex justify-between pl-20 pr-20">
      <div>
        <h1 class="text-5xl mt-32 text-blue-600"><i class="fas fa-cog"></i></h1>
        <h1 class="text-3xl pt-7 text-black dark:text-black">25% OFF</h1>
        <p class="text-3xl pt-8 text-black dark:text-black">
          On All orders above $299!
        </p>
        <p class="text-xl text-black dark:text-black">
          <br />Lorem ipsum dolor sit amet, consectetur, sed do eiusmod tempor
          <br />incididunt labore dolore.
        </p>
        <button
          class="w-44 h-16 text-white text-center rounded-md text-md mt-16 bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 font-bold transition-all 0.5s ease-in-out"
        >
          <a href="index.html">Grab This Offer</a>
        </button>
      </div>
      <div>
        <img src="assets/images/smiling.png" alt="" class="h-auto w-96 pt-32" />
      </div>
    </div>
  </div>
  <div class="mt-20">
    <h1 class="text-center text-4xl mb-8 text-black mt-24">FEATURED PRODUCT</h1>
  </div>
  <div class="p-11">
    <div>
      <div class="grid grid-cols-4">
        <div class="p-11">
          <div class="relative pl-11">
            <img
              src="assets/images/sports-shoe5-600x600.jpg"
              class="relative w-80"
            />
            <p
              class="pt-2 rounded-full bg-slate-600 h-10 w-12 text-center absolute top-3 left-44"
            >
              Sale!
            </p>
          </div>
          <p class="text-black text-opacity-50 mt-3 pl-11 text-sm">
            Men's Shoes
          </p>
          <p class="text-black mt-3 pl-11 text-sm">DNK BLACK BLUE SPORT SHOE</p>
          <div class="flex space-x-1 mt-1 pl-11 text-sm">
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
          </div>
          <p class="text-black font-bold mt-1 pl-11 text-sm">
            <del class="text-opacity-30">$35.00</del>&nbsp; &nbsp;$32.00
          </p>
        </div>
        <div class="p-11">
          <div class="relative pl-11">
            <img
              src="assets/images/product-m-jeans1-600x600.jpg"
              class="relative w-80"
            />
            <p
              class="pt-2 rounded-full bg-slate-600 h-10 w-12 text-center absolute top-3 left-44"
            >
              Sale!
            </p>
          </div>
          <p class="text-black text-opacity-50 mt-3 pl-11 text-sm">
            Men's Jeans
          </p>
          <p class="text-black mt-3 pl-11 text-sm">DARK BROWN JEANS</p>
          <div class="flex space-x-1 mt-1 pl-11 text-sm">
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
          </div>
          <p class="text-black font-bold mt-1 pl-11 text-sm">$145.00</p>
        </div>
        <div class="p-11">
          <div class="relative pl-11">
            <img src="assets/images/dnk.jpg" class="relative w-80" />
            <p
              class="pt-2 rounded-full bg-slate-600 h-10 w-12 text-center absolute top-3 left-44"
            >
              Sale!
            </p>
          </div>
          <p class="text-black text-opacity-50 mt-3 pl-11 text-sm">
            Men's Shoes
          </p>
          <p class="text-black mt-3 pl-11 text-sm">DNK BLACK RED SPORT SHOE</p>
          <div class="flex space-x-1 mt-1 pl-11 text-sm">
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
          </div>
          <p class="text-black font-bold mt-1 pl-11 text-sm">
            <del>$35.00</del>&nbsp; &nbsp;$32.00
          </p>
        </div>
        <div class="p-11">
          <div class="relative pl-11">
            <img src="assets/images/lgg.jpg" class="relative w-80" />
            <p
              class="pt-2 rounded-full bg-slate-600 h-10 w-12 text-center absolute top-3 left-44"
            >
              Sale!
            </p>
          </div>
          <p class="text-black text-opacity-50 mt-3 pl-11 text-sm">
            Women Short
          </p>
          <p class="text-black mt-3 pl-11 text-sm">BLUE DENIM JEANS</p>
          <div class="flex space-x-1 mt-1 pl-11 text-sm">
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
            <p class="text-yellow-400"><i class="fas fa-star"></i></p>
          </div>
          <p class="text-black font-bold mt-1 pl-11 text-sm">
            <del>$45.00</del>&nbsp; &nbsp;$35.00
          </p>
        </div>
      </div>
      <div class="flex justify-center space-x-14  pt-16">
        <div class="h-16 bg-white w-60 rounded-lg">
          <p class="text-black pt-5 text-center text-lg">📦 Express Delivery</p>
        </div>
        <div class="h-16 bg-white w-60 rounded-lg text-center">
          <p class="text-black pt-5 text-center text-lg">📤 Order Tracking</p>
        </div>
        <div class="h-16 bg-white w-60 rounded-lg text-center">
          <p class="text-black pt-5 text-lg">👝 Regular Discount</p>
        </div>
      </div>
    </div>
  </div>
</div>
