<div class="min-h-screen bg-slate-50 text-white">
    <section class="bg-cover bg-[url('assets/images/pexels-ron-lach-9771497.jpg')] pb-36 text-opacity-100  bg-neutral-900">
        <div>
            <div class="pl-7 pt-11">
                    <h1 class="text-6xl text-center mt-32">
                        ABOUT US
                    </h1>
            </div>
        </div>
    </section>
    <div class="bg-neutral-50 p-11 flex justify-between text-black">
        <div class="">
            <img src="assets/images/couple-model.png" alt="/" class="w-96">
        </div>
        <div class="mr-20">
            <div class="flex space-x-16 pt-9 mr-20">
                <img src="assets/images/trends-free-img.png" alt="">
                <div>
                <h2 class="text-3xl font-medium">Latest Trends For All</h2>
                <p class="opacity-60">
                    <br>Lorem ipsum dolor sit amet, consectetur 
                    <br>adipiscing elit. Ut elit tellus, luctus nec 
                    <br>ullamcorper mattis.
                </p>
            </div>
            </div>
            <div class="flex space-x-16 pt-12">
                <img src="assets/images/discount-free-img.png" alt="">
                <div>
                <h2 class="text-3xl font-medium">Sale on Latest Fashion</h2>
                <p class="opacity-60">
                    <br>Lorem ipsum dolor sit amet, consectetur 
                    <br>adipiscing elit. Ut elit tellus, luctus nec 
                    <br>ullamcorper mattis.
                </p>
            </div>
            </div>
            <div class="flex space-x-16 pt-12">
                <img src="assets/images/pexels-godisable-jacob-944761.jpg" class="w-32">
                <div>
                <h2 class="text-3xl font-medium">Our Ceo</h2>
                <p class="opacity-60">
                    <br>Lorem ipsum dolor sit amet, consectetur 
                    <br>adipiscing elit. Ut elit tellus, luctus nec 
                    <br>ullamcorper mattis.
                </p>
            </div>
            </div>
        </div>
    </div>
    <div class="text-black dark:text-black">
        <div class="flex justify-between pl-20 pr-20">
            <div>
            <h1 class="text-5xl mt-32 text-blue-600"><i class="fas fa-tags"></i></h1>
            <h1 class="text-3xl pt-7 text-black dark:text-black">25% OFF</h1>
            <p class="text-3xl pt-8 text-black dark:text-black">On All orders above $299!</p>
            <p class="text-xl text-black dark:text-black">
            <br>Lorem ipsum dolor sit amet, consectetur, sed do eiusmod tempor 
            <br>incididunt labore dolore. 
            </p>
            <button class="w-44 h-16 text-white text-center rounded-md text-md mt-16 bg-black font-bold duration-150 transition-all hover:bg-slate-900 hover:text-white ease-in-out">
                <a href="index.html">Grab This Offer</a> 
            </button>
        </div>
            <div><img src="assets/images/smiling.png" alt="" class="h-auto w-96  pt-32"></div>
        </div>
    </div>
    <div class="text-center text-black pt-24">
        <h1 class="text-5xl">THEY WILL LOVE US!!!</h1>
        <p class="opacity-50 text-xl pt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div>
        <div class="flex space-x-60 p-11 text-black">
            <div class="">
            <img src="assets/images/pexels-andrea-piacquadio-3756679.jpg" alt="" class="rounded-xl w-80 opacity-40 absolute">
            <div class="flex space-x-6 top-28 relative left-5">
                <p class=" text-6xl text-center text-gray-800  rounded-xl pt-4 cursor-pointer"><i class="fab fa-youtube"></i></p>
            <p class="font-bold mb-20">
                <br>Stella Jones
                <br class="opacity-50">Super Model
            </p>
        </div>
        </div>
        <div class="">
            <img src="assets/images/pexels-spencer-selover-428333.jpg" alt="" class="rounded-xl w-80 opacity-40 absolute">
            <div class="flex space-x-6 top-28 relative left-5">
                <p class=" text-6xl text-center text-gray-800  rounded-xl pt-4 cursor-pointer"><i class="fab fa-youtube"></i></p>
            <p class="font-bold mb-20">
                <br>Carlos Hudges
                <br class="opacity-50">Sudent
            </p>
        </div>
        </div>
        <div class="">
            <img src="assets/images/pexels-godisable-jacob-871495.jpg" alt="" class="rounded-xl w-80 opacity-40 absolute">
            <div class="flex space-x-6 top-28 relative left-5">
                <p class=" text-6xl text-center text-gray-800  rounded-xl pt-4 cursor-pointer"><i class="fab fa-youtube"></i>
                </p>
            <p class="font-bold mb-20">
                <br>Choles Nwets
                <br class="opacity-50">Sudent
            </p>
        </div>
        </div>
    </div>
        <div class="flex space-x-60 p-11 text-black pt-16">
            <div class="">
            <img src="assets/images/pexels-andrea-piacquadio-716411.jpg" alt="" class="rounded-xl w-80 opacity-40 absolute">
            <div class="flex space-x-6 top-28 relative left-5">
                <p class=" text-6xl text-center text-gray-800  rounded-xl pt-4 cursor-pointer"><i class="fab fa-youtube"></i></p>
            <p class="font-bold mb-20">
                <br>Marks Adams
                <br class="opacity-50">Enterprenure
            </p>
        </div>
        </div>
        <div class="">
            <img src="assets/images/pexels-godisable-jacob-944761.jpg" alt="" class="rounded-xl w-80 opacity-40 absolute">
            <div class="flex space-x-6 top-28 relative left-5">
                <p class=" text-6xl text-center text-gray-800  rounded-xl pt-4 cursor-pointer"><i class="fab fa-youtube"></i></p>
            <p class="font-bold mb-20">
                <br>Jessy Joles
                <br class="opacity-50">Fahion designer
            </p>
        </div>
        </div>
        <div class="">
            <img src="assets/images/pexels-andrea-piacquadio-839011.jpg" alt="" class="rounded-xl w-80 opacity-40 absolute">
            <div class="flex space-x-6 top-28 relative left-5">
                <p class=" text-6xl text-center text-gray-800  rounded-xl pt-4 cursor-pointer"><i class="fab fa-youtube"></i></p>
            <p class="font-bold mb-20">
                <br>Joe Brian
                <br class="opacity-50">Businessman
            </p>
        </div>
        </div>
    </div>
    </div>
    <div class="flex  justify-center space-x-14 mb-24 pt-28">
        <div class="h-16 bg-white w-60  rounded-lg">
        <p class="text-black pt-5 text-center text-lg">📦 Express Delivery</p>
    </div>
    <div class="h-16 bg-white w-60 rounded-lg text-center">
        <p class="text-black pt-5 text-center text-lg">📤  Order Tracking</p>
    </div>
    <div class="h-16 bg-white w-60 rounded-lg text-center">
        <p class="text-black pt-5 text-lg">👝  Regular Discount</p> 
    </div>
</div>
</div>