<div class="min-h-screen bg-slate-50 text-white dark:bg-black dark:text-white">
  <section
    class="bg-cover bg-[url('/assets/images/fashion1.jpg')] bg-opacity-30 bg-blend-darken text-opacity-20"
  >

    <div class="pt-[200px]">
      <div class="pl-7 pt-11">
        <p class="text-3xl">Summer Collection</p>
        <h1 class="text-7xl"><br />INTRODUCING <br />NEW ARRIVALS</h1>
        <p>
          <br />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
          tellus, <br />luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
      </div>
      <button
        class="w-36 h-16 bg-white text-black font-bold text-center rounded-md m-7 hover:bg-slate-600 transition-all 0.5s ease-in-out"
      >
        <a href="viewcollection">View Collection</a>
      </button>
    </div>
  </section>
  <div class="p-4 pt-11 flex justify-center space-x-5">
    <div class="relative">
      <img
        src="assets/images/voila.jpg"
        class="rounded-lg h-auto bg-blend-color-burn dark:opacity-30"
      />
      <h1 class="absolute text-3xl text-white font-semibold bottom-20 left-28">
        SUMMER COLLECTION
      </h1>
    </div>
    <div class="block justify-center">
      <div class="flex justify-center space-x-3">
        <div class="relative">
          <img src="assets/images/men.jpg" class="rounded-md w-72 dark:opacity-30" />
          <h1
            class="absolute text-4xl text-white font-semibold bottom-20 text-center"
          >
            MEN'S COLLECTION
          </h1>
        </div>
        <div class="relative">
          <img src="assets/images/sit.jpg" class="rounded-md w-72 dark:opacity-30" />
          <h1
            class="absolute text-4xl text-white font-semibold bottom-20 text-center"
          >
            WOMEN COLLECTION
          </h1>
        </div>
      </div>
      <div class="relative">
        <img
          src="assets/images/shoe.jpg"
          class="rounded-md w-auto mt-2 dark:opacity-30"
        />
        <h1 class="absolute text-4xl text-white font-semibold bottom-6 left-4">
          <br />FREE SHIPPING <br />ON ALL ORDERS ABOVE $299
          <button
            herf="viewcollection"
            class="w-44 h-14 bg-white text-black text-center rounded-md text-sm mt-16 hover:bg-slate-600 transition-all 0.5s ease-in-out"
          >
            View Collection
          </button>
        </h1>
      </div>
    </div>
  </div>
  <div class="mt-20">
    <div class="pl-10">
      <h1 class="text-2xl mt-20 text-black dark:text-white">
        <i class="fas fa-quote-left"></i>
      </h1>
      <p class="text-2xl text-black dark:text-white">
        <br />Proident earum, luctus autem, class impedit nostrud pariatur,
        <br />Perferendis eiusmod minima perferendis, itaque recusandae
        <br />Eligendi facilisis.
      </p>
      <h1 class="text-2xl mt-16 text-black dark:text-white">
        <i class="fas fa-quote-right"></i>
      </h1>
      <p class="pt-10 text-black dark:text-white font-semibold text-2xl">
        ................ Mark Fosters
      </p>
    </div>
  </div>
  <div class="bg-white dark:bg-black">
    <div
      class="bg-[url('assets/images/smiling.png')] bg-fit bg-no-repeat bg-right-top mt-20 bg-blend-darken pl-10"
    >
    <h1 class="text-5xl mt-32 text-blue-600"><i class="fas fa-tags"></i></h1>
      <h1 class="text-3xl pt-7 text-black dark:text-white">25% OFF</h1>
      <p class="text-3xl pt-8 text-black dark:text-white">
        On All orders above $299!
      </p>
      <p class="text-xl text-black dark:text-white">
        <br />Lorem ipsum dolor sit amet, consectetur, sed do <br />eiusmod
        tempor incididunt labore dolore.
      </p>
      <button
        class="w-44 h-16 text-white text-center rounded-md dark:bg-white dark:text-black text-md mt-16 bg-black hover:text-white hover:bg-gray-800 font-bold transition-all 0.5s ease-in-out"
      >
        <a href="index.html">Grab This Offer</a>
      </button>
    </div>
  </div>
  <app-featured-products></app-featured-products>
  <div class="flex justify-center space-x-14 mb-24 mt-12">
    <div class="h-16 bg-white  w-60 rounded-lg">
      <p class="text-black pt-5 text-center text-lg">📦 Express Delivery</p>
    </div>
    <div class="h-16 bg-white w-60 rounded-lg text-center">
      <p class="text-black pt-5 text-center text-lg">📤 Order Tracking</p>
    </div>
    <div class="h-16 bg-white w-60 rounded-lg text-center">
      <p class="text-black pt-5 text-lg">👝 Regular Discount</p>
    </div>
  </div>
</div>


