<footer
  class="bg-black text-white flex justify-between p-11 text-1xl dark:bg-slate-50 dark:text-black"
>
  <div>
    <img
      src="assets/images/site-logo-white-free-img.png"
      class="pt-14 dark:bg-black dark:font-bold"
    />
    <p>
      <br />ipsum dolor sit, <br />amet consectetur <br />adipiscing elit. Ut
      elit <br />tellus, luctus nec <br />ullamcorper mattis, <br />pulvinar
      dapibus leo.
    </p>
  </div>
  <div>
    <h2 class="pb-4 pt-14">SHOP COLLECTIONS</h2>
    <p>
      <br />Men’s Jeans <br />Women’s Tops <br />
      Hoodies <br />Jackets <br />Shoes
    </p>
  </div>
  <div>
    <h2 class="pb-4 pt-14">LATEST COLLECTION</h2>
    <p>
      <br />Bags <br />Accessories <br />
      Shorts <br />Wallets <br />Sunglasses
    </p>
  </div>
  <div>
    <h2 class="pb-4 pt-14">POPULAR COLLECTIONS</h2>
    <p>
      <br />Women’s Shorts <br />Belts <br />Watches <br />Women’s Jeans
      <br />Formal Shoes
    </p>
  </div>
  <div>
    <h2 class="pb-4 pt-14">QUICK LINKS</h2>
    <p><br />Home <br />Shop <br />Lookbook <br />About Us <br />Contact Us</p>
  </div>
</footer>
<div class="p-11 pt-8 flex justify-between text-black dark:text-white dark:bg-black">
  <div>
    <p>Copyrights &copy; 2023 BranStore Pro</p>
  </div>
  <div class="flex space-x-9 opacity-60 text-lg">
    <i class="fab fa-facebook"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-youtube"></i>
    <i class="fab fa-instagram"></i>
  </div>
  <div>
    <p>Powered by BrandStore Pro</p>
  </div>
</div>
