<main class="flex justify-between absolute top-0  w-full">
  <div>
    <img src="/assets/images/site-logo-white-free-img.png" class="text-3xl m-9" />
  </div>
  <nav class="flex justify-between">
    <ul class="flex justify-between align-middle font-bold space-x-9 m-10">
      <li class="hover:text-blue-900 transition-all-0.5s ease-in-out cursor-pointer" routerLink="home" routerLinkActive="text-yellow-400">
        <a>HOME</a>
      </li>
      <li class="hover:text-blue-900 transition-all-0.5s ease-in-out cursor-pointer" routerLink="/shop" routerLinkActive="text-yellow-400">
        <a>SHOP</a>
      </li>
      <li class="hover:text-blue-900 transition-all-0.5s ease-in-out cursor-pointer" routerLink="/lookbook" routerLinkActive="text-yellow-400">
        <a>LOOKBOOK</a>
      </li>
      <li class="hover:text-blue-900 transition-all-0.5s ease-in-out cursor-pointer" routerLink="/about-us" routerLinkActive="text-yellow-400">
        <a>ABOUT US</a>
      </li>
      <li class="hover:text-blue-900 transition-all-0.5s ease-in-out cursor-pointer" routerLink="/contact-us" routerLinkActive="text-yellow-400">
        <a>CONTACT US</a>
      </li>
      <li class="hover:text-blue-900 transition-all-0.5s ease-in-out cursor-pointer" routerLink="/product-details" routerLinkActive="text-yellow-400">
        <a>PRODUCT DETAILS</a>
      </li>
      <li class="hover:text-blue-900 transition-all-0.5s ease-in-out cursor-pointer" routerLink="/cart" routerLinkActive="text-yellow-400">
        <a>🛒</a>
      </li>
    </ul>
  </nav>
</main>
